@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;1,400;1,500&display=swap");
@-ms-viewport {   
  width: device-width;
}

html {
  font-family: "Rubik";
}
/*Phone*/
* {
  margin: 0px;
  padding: 0px;
  box-sizing: 0px;
}
.headerPrincipal {
  background-color: #201b39;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 13vh;
}

#logoPrincipal {
  width: 200px;
  padding-top: 30px;
}

body {
  background-color: #0b081b;
}
.bodyUser {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 45vh;
  margin-left: 4em;
  margin-right: 4em;
  margin-top: 10vh;
  border-radius: 15px;
  font-weight: 300;
}
.email,
.password {
  width: 250px;
  height: 30px;
  border-radius: 10px;
  background-color: #130e2f;
  border: 0;
  padding: 5px 0px;
  margin-bottom: 15px;
  text-align: center;
  font-family: "RubikFina";
}
.email:focus,
.password:focus {
  border: 1px solid rgb(114, 109, 109);
  outline: none;
  text-align: center;
}
::placeholder {
  text-align: justify;
  font-size: 15px;
  font-family: "Rubik";
}

.btnLogin:hover {
  border-radius: 5px;
  background: #e54ebc;
  box-shadow: 0 0 10px #e54ebc, 0 0 30px #e54ebc, 0 0 60px #e54ebc;
  transition-delay: 1s;
}
.btnLogin span {
  position: absolute;
  display: block;
}
#passRecover {
  padding-left: 92px;
  color: #a1a1a1;
  font-size: 9pt;
}

#span1 {
  top: 0px;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #fd99e3);
}
.btnLogin:hover #span1 {
  left: 100%;
  transition: 1s;
}
#span3 {
  bottom: 0px;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #fd99e3);
}
.btnLogin:hover #span3 {
  right: 100%;
  transition: 1s;
  transition-delay: 0.5s;
}
#span2 {
  top: -100px;
  right: 0%;
  width: 2px;
  height: 100px;
  background: linear-gradient(180deg, transparent, #fd99e3);
}
.btnLogin:hover #span2 {
  top: 100%;
  transition: 1s;
  transition-delay: 0.25s;
}
#span4 {
  bottom: -100px;
  left: 0%;
  width: 2px;
  height: 100px;
  background: linear-gradient(360deg, transparent, #fd99e3);
}
.btnLogin:hover #span4 {
  bottom: 100%;
  transition: 1s;
  transition-delay: 0.75s;
}
.bodyUserGoogle,
.bodyUserRegistrar,
.bodyUserLogin,
.bodyUserWithAcount {
  background-color: #0b081b;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10vh;
  font-family: "Rubik";
}
.bodyUser a {
  color: #fff;
  text-decoration: none;
  font-size: 14px;
}

#bodyUserRegistrar {
  color: white;
  text-decoration: none;
  font-size: 14px;
}

#register {
  padding-left: 5px;
  color: #e54ebc;
  text-decoration: none;
  font-size: 14px;
}
.footer {
  background-color: #0b081b;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Rubik";
  font-size: 10px;
  margin-top: 3rem;
  margin-bottom: 2rem;
}
.userlogin {
  text-align: center;
  align-items: center;
  justify-content: center;
}

.container {
  height: 89vh;
}

.bodyNotFound {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 75vh;
  color: #fff;
}

#logoGoogle{
  width: 150px;
  border-color: white;
}


/*Desktop*/
@media (min-width: 1090px) {
  
    html {
    background: rgb(70, 30, 65);
    background: linear-gradient(
      0deg,
      rgba(70, 30, 65, 1) 0%,
      rgba(101, 29, 149, 1) 100%
    );
  }

  .container {
    background: rgb(70, 30, 65);
    background: linear-gradient(
      0deg,
      rgba(70, 30, 65, 1) 0%,
      rgba(101, 29, 149, 1) 100%
    );
  }

  .bodyBox {
    background-color: #0b081b;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70vh;
    margin: 70px;
    padding: 20px;
    flex-direction: row;
  }

  #logoPrincipal {
    display: flex;
    width: 350px;
    background-color: #0b081b;
    order: 2;
    padding: 20px;
  }

  .bodyUserRegistrar {
    align-self: flex-start;
    margin-left: -210px;
    margin-top: -20px;
    margin-right: -130px;
    order: 1;
  }

  .userlogin {
    padding-left: 0px;
    order: 2;
  }

  .footer {
    position: fixed;
    background-color: none;
    margin-left: -150px;
    margin-top: 130px;
    order: 2;
  }

.contenidoPost {
    height: 80vh;
    margin: 80px;
}
  .contenidoPost li{
color: azure;
font-family: "Rubik";
list-style: none;
padding: 20px;
border: 1px solid rgb(114, 109, 109);
margin-top: 30px;
display: grid;
  }

.nav-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #2d216e;
  }
  .navigation {
    display: flex;
    list-style: none;
    padding-right: 3em;
    padding-left: 1em;
  }

.imgPerfil{
    border-radius: 20px;  
    width: 40px;
    height: 40px;
  }

  .logo,
  .navigation a {
    text-decoration: none;
    
  }
  .navigation a {
    display: block;
    padding: 1em;
    color: white;
  }
  .navigation a:hover {
    background: #2f80ed;
  }
  input .search {
    height: 20px;
    border-radius: 10px;
    margin: 10% 0 0 0;
    border-color: #2f80ed;
    text-indent: 4%;
  }
  .logo {
    margin: 0 0 0 5%;
  }
  .logo img {
    width: 200px;
    height: auto;
    display: block;
    padding: 1em;
  }
 
}
 
  /*Desktop*/
@media (min-width: 1090px) {
    
    html {
    background: rgb(70, 30, 65);
    background: linear-gradient(
        0deg,
        rgba(70, 30, 65, 1) 0%,
        rgba(101, 29, 149, 1) 100%
      );
    }
    li div.cerrar{
      margin-left: auto;
      top: 0;
      right: 0px;
      background: rgba(255,255,255,0.6);
      width: 30px;
      text-align: center;
      padding: 10px 0;
      font-weight:  bold;
      cursor:  pointer;
  }
    .container {
      background: rgb(70, 30, 65);
      background: linear-gradient(
        0deg,
        rgba(70, 30, 65, 1) 0%,
        rgba(101, 29, 149, 1) 100%
      );
    }
  
    .bodyBox {
      background-color: #0b081b;
      border-radius: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 70vh;
      margin: 70px;
      padding: 20px;
      flex-direction: row;
    }
  
    #logoPrincipal {
      display: flex;
      width: 350px;
      background-color: #0b081b;
      order: 2;
      padding: 20px;
    }
  
    .bodyUserRegistrar {
      align-self: flex-start;
      margin-left: -210px;
      margin-top: -20px;
      margin-right: -130px;
      order: 1;
    }
    .bodyUserWithAcount{
        align-self: flex-start;
        margin-left: -300px;
        margin-top: 10px;
        margin-right: -130px;
        order: 1;
        padding-right: 20px;
    }
    
      .userlogin {
      padding-left: 0px;
      order: 2;
    }
  
    .footer {
      position: fixed;
      background-color: none;
      margin-left: -150px;
      margin-top: 130px;
      order: 2;
    }
    
}