@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;1,400;1,500&display=swap");
@-ms-viewport {   
  width: device-width;
}
/*Desktop*/
@media (min-width: 1090px) {
  
    html {
    background: rgb(70, 30, 65);
    background: linear-gradient(
      0deg,
      rgba(70, 30, 65, 1) 0%,
      rgba(101, 29, 149, 1) 100%
    );
  }

  .container {
    background: rgb(70, 30, 65);
    background: linear-gradient(
      0deg,
      rgba(70, 30, 65, 1) 0%,
      rgba(101, 29, 149, 1) 100%
    );
  }

  .bodyBox {
    background-color: #0b081b;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70vh;
    margin: 70px;
    padding: 20px;
    flex-direction: row;
  }

  #logoPrincipal {
    display: flex;
    width: 350px;
    background-color: #0b081b;
    order: 2;
    padding: 20px;
  }
  .userlogin {
    padding-left: 0px;
    order: 2;
  }
.contenidoPost {
    height: 80vh;
    margin: 80px;
}
  .contenidoPost li{
color: azure;
font-family: "Rubik";
list-style: none;
padding: 20px;
border: 1px solid rgb(114, 109, 109);
margin-top: 30px;
display: grid;
  }
.nav-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #2d216e;
  }
  .navigation {
    display: flex;
    list-style: none;
    padding-right: 3em;
    padding-left: 1em;
  }
.imgPerfil{
    border-radius: 20px;  
    width: 40px;
    height: 40px;
  }
  .logo,
  .navigation a {
    text-decoration: none;
    
  }
  .navigation a {
    display: block;
    padding: 1em;
    color: white;
  }
  .navigation a:hover {
    background: #2f80ed;
  }
  input .search {
    height: 20px;
    border-radius: 10px;
    margin: 10% 0 0 0;
    border-color: #2f80ed;
    text-indent: 4%;
  }
  .logo {
    margin: 0 0 0 5%;
  }
  .logo img {
    width: 200px;
    height: auto;
    display: block;
    padding: 1em;
  }
  li div.cerrar{
    margin-left: auto;
    top: 0;
    right: 0px;
    background: rgba(255,255,255,0.6);
    width: 30px;
    text-align: center;
    padding: 10px 0;
    font-weight:  bold;
    cursor:  pointer;
}
  .bodyUserRegistrar {
    align-self: flex-start;
    margin-left: -210px;
    margin-top: -20px;
    margin-right: -130px;
    order: 1;
  }
  .bodyUserWithAcount{
      align-self: flex-start;
      margin-left: -300px;
      margin-top: 10px;
      margin-right: -130px;
      order: 1;
      padding-right: 20px;
  }
  
    .userlogin {
    padding-left: 0px;
    order: 2;
  }

  .footer {
    position: fixed;
    background-color: none;
    margin-left: -150px;
    margin-top: 130px;
    order: 2;
  }
}