@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;1,400;1,500&display=swap");
@-ms-viewport {
  width: device-width;
}
html {
  font-family: "Rubik", Arial, Helvetica, sans-serif;
}
/*Phone*/
.datePost{
  text-align: right;
  font-size: 12px;
}
.nav-flex {
  background-color: #201b39;
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  align-items: center;
  justify-content: center;
  height: 11vh;
}
#searchinput,
.navigation {
  display: none;
}
#logo-oldbeat {
  width: 200px;
  padding-top: 30px;
}
.home-timeline {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 78vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  flex-direction: column;
  overflow: auto;
  background-color: #0b081b;
}
::placeholder {
  text-align: justify;
  font-size: 15px;
  font-family: "Rubik", Arial, Helvetica, sans-serif;
}
.home-publisharea {
  display: flex;
  justify-content: center;
}
#btnSendContent {
  outline: none;
  width: 90px;
  height: 30px;
  background: #71d6d4;
  border-style: solid;
  border-width: 0px 0px 5px 0px;
  border-color: #37bebb;
  border-radius: 4px;
  color: #2e9e9c;
  cursor: pointer;
  font-family: "Rubik", Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: 500;
  transition: 0.1s;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  margin-top: 0.8rem;
}
.btnEditHidden > .btnEditContent {
  margin-bottom: 1rem;
  margin-left: 25px;
  outline: none;
  width: 67px;
  height: 30px;
  background: #71d6d4;
  border-style: solid;
  border-width: 0px 0px 5px 0px;
  border-color: #37bebb;
  border-radius: 4px;
  color: #2e9e9c;
  cursor: pointer;
  font-family: "Rubik", Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: 500;
  transition: 0.1s;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  margin-top: 0.5rem;
}

.btnEditHidden {
  height: 40px;
}

#btnEditContent:active,
#btnSendContent:active {
  border-width: 0px 0px 2px 0px;
  transform: translateY(4px);
  opacity: 0.9;
}
.divImgPerfilPostUser {
  display: none;
}
.upContent {
  margin-top: 0.8rem;
  display: flex;
  background-color: #fff;
  align-items: center;
  justify-items: center;
  width: 86vw;
  height: 52px;
  border-radius: 10px;
}
#txtArea {
  width: 80vw;
  margin-left: 12px;
  border: none;
  border-color: transparent;
  overflow: auto;
  font-family: "Rubik", Arial, Helvetica, sans-serif;
  font-size: 15px;
}
ul#contentPost {
  justify-content: space-between;
  margin: -10px 0 0 22px;
}
.contentPost {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
  position: relative;
}
.postContentLi {
  background-color: #fff;
  border-radius: 7px;
  display: inline-block;
  justify-content: space-around;
  width: 80vw;
  height: auto;
  margin: 10px 0;
  font-size: 16px;
  /* min-height: 20vh; */
  overflow: auto;
  padding: 1rem;
}
.author-name {
  color: #201b39;
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 8px;
}
.cerrar {
  margin-left: auto;
  position: static;
  width: 17px;
  height: 17px;
  cursor: pointer;
  float: right;
  right:70px;
  top: 20px;
  margin-top: 6px;
}
span#description {
  color: #0b081b;
}
.counter-text {
  color: gray;
}
.control {
  position: fixed;
  width: 100vw;
  overflow: visible;
  float: none;
  clear: none;
  background-color: #201b39;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 12vh;
}
.fa {
  font-size: 50px;
  cursor: pointer;
  user-select: none;
  color: #e54ebc;
  margin-left: 8px;
}

.fa:hover {
  color: #71d6d4;
}
.btnEdit {
  float: right;
margin: 5px 0 0 6px;
}
/*Desktop*/
@media (min-width: 1090px) {
  .bodyPost {
    overflow: auto;
    background-color: #0b081b;
  }
  html, body{ 
    background: none;
  }

  .nav-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(101, 29, 149);
    background: linear-gradient(
      90deg,
      rgba(101, 29, 149, 1) 0%,
      rgba(70, 30, 65, 1) 100%
    );
  }
  .navigation {
    display: flex;
    list-style: none;
    padding-right: 3em;
    padding-left: 1em;
  }
  .imgPerfil {
    border-radius: 20px;
    width: 40px;
    height: 40px;
  }
  .logo,
  .navigation a {
    text-decoration: none;
  }
  .navigation a {
    display: block;
    padding: 1em;
    color: white;
  }
  .navigation a:hover {
    background: #e9329d;
    border-radius: 15px;
  }
  ul .navigation {
    display: flex;
  }
  .logo {
    margin: 0 0 0 5%;
  }
  .logo img {
    width: 200px;
    height: auto;
    display: block;
    padding: 1em;
  }
  li div.cerrar {
    margin-left: auto;
    top: 0;
    right: 0px;
    background: rgba(255, 255, 255, 0.6);
    width: 30px;
    text-align: center;
    padding: 10px 0;
    font-weight: bold;
    cursor: pointer;
  }
  .home-timeline {
    display: flex;
    width: 100vw;
    height: 100vh;
    background-color: #0b081b;
  }
  .home-publisharea {
    display: flex;
    justify-content: flex-start;
    margin-left: 240px;
    width: 500px;
    order: 0;
  }
  .btnSendContent {
    margin-top: 0.8rem;
    margin-left: 710px;
  }
  .btnEditHidden > .btnEditContent {
    margin-bottom: 2rem;
    margin-left: 240px;
  }
  .btnEditHidden {
    height: 37px;
  }
  /*Contenedor Principal*/
  .perfilUserAndPostsUser {
    display: flex;
    width: 100%;
    justify-content: center;
    background-color: #0b081b;
  }

  /* Seccion Derecha*/
  .postUser {
    width: 80vw;
    padding: 15px;
  }

  /*Campo Texto para Publicar*/
  .upContent textarea {
    border: 10px;
    width: 50%;
    height: 25px;
    margin: 20px 10px 20px 10px;
    background: rgb(240, 238, 238);
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12pt;
    resize: none;
    overflow: hidden;
    border-radius: 5px;
  }
  /*Evento que Pinta el borde al dar click*/
  textarea:focus {
    outline-width: 1 !important;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    outline-color: rgb(255, 146, 206) !important;
    border-radius: 5px;
  }
  /*Texto Referencial  del Input*/
  textarea::placeholder {
    margin-left: 20px;
    color: rgb(201, 201, 238);
    font-size: 1em;
    text-align: start;
  }
  /*Imagen del Usuario activo en la caja de post*/

  .divImgPerfilUser {
    width: 40px;
    height: 40px;
    border-radius: 100%;
  }
  .divImgPerfilUser > .imgPerfilUser {
    border-radius: 100%;
    width: 100%;
    height: 100%;
  }
  .divImgPerfilPostUser {
    width: 40px;
    height: 40px;
    border-radius: 100%;
  }
  .divImgPerfilPostUser > .imgPerfilPostUser {
    border-radius: 100%;
    width: 100%;
    height: 100%;
  }
  /*contenedor del post*/
  /*contenido superior del lado derecho del post*/
  .upContent {
    display: flex;
    background-color: #fff;
    align-items: center;
    justify-items: center;
    width: 43em;
  }
  .downContent{
    align-items: center;
    justify-items: center;
    margin-left: -114px;
  }
  /*input publicar*/
  #txtArea {
    width: 100%;
    height: 30px;
    background-color: #fff;
  }
  /*contenido inferior del lado derecho del post*/
  /*Caja de los Post*/
  .contentPost {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    order: 10;
    margin-left: 215px;
  }
  .postContentLi {
    background-color: #fff;
    border-radius: 7px;
    display: inline-block;
    justify-content: space-around;
    width: 660px;
    height: auto;
    margin: 10px 0;
    font-size: 16px;
    /* min-height: 20vh; */
    overflow: auto;
    padding: 1rem;
  }
  .control {
    order: -1;
    background-color: #0b081b;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 220px;
    margin: 1.2rem 0 0 1rem;
  }
  .cerrar {
    float: right;
    right: 70px;
    top: 20px;
    margin-top: 6px;
  }
  .btnEdit {
    float: right;
    margin: 5px 0 0 8px;
  }
  .fa {
    margin-top: 7px;
  }
  span#description {
    display: inline-block;
    width: 40rem;
  }
  .datePost{
    text-align: right;
    font-size: 12px;
  }
  .author-name{
    font-size: 20px;
  }
}
