@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;1,400;1,500&display=swap");
@-ms-viewport {
  width: device-width;
}

html {
  font-family: "Rubik", Arial, Helvetica, sans-serif;
}

.bodyStyle {
  overflow: hidden;
  background-color: #0b081b;
}
/*Phone*/
* {
  
  margin: 0px;
  padding: 0px;
  box-sizing: 0px;
}
.headerPrincipal {
  background-color: #201b39;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 13vh;
}

#logoPrincipal {
  width: 200px;
  padding-top: 30px;
}

input[type=email], input[type=password] {  
  color:#abacb4; 
  background-color:#151728; 
  font-size: 10pt; 
  border-radius:5px; 
  border-width:1px; 
  text-align:center; 
  font-family: "Rubik", Arial, Helvetica, sans-serif;
  font-weight: 400;
  padding:6px;

} 
input[type=email]:focus, input[type=password]:focus { 
  outline: none; 
}
.bodyUser {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 45vh;
  margin-left: 4em;
  margin-right: 4em;
  margin-top: 10vh;
  border-radius: 15px;
  font-weight: 300;
}
.txtUser{
  margin-bottom: 5px;
  color: #fff;
}
.email,
.password {
  width: 250px;
  height: 30px;
  border-radius: 10px;
  background-color: #130e2f;
  border: 0;
  padding: 5px 0px;
  margin-bottom: 15px;
  text-align: center;
  font-family: "RubikFina", Arial, Helvetica, sans-serif;
}
.email:focus,
.password:focus {
  border: 1px solid rgb(114, 109, 109);
  outline: none;
  text-align: center;
}
::placeholder {
  text-align: justify;
  font-size: 15px;
  font-family: "Rubik", Arial, Helvetica, sans-serif;
}
/* Boton de Iniciar sesion Inicio*/
.btnLogin {
  padding: 10px 20px;
  display: flex;
  margin-top: 20px;
  /*display: inline-block;*/
  position: relative;
  letter-spacing: 2px;
  font-size: 24px;
  border-radius: 5px;
  overflow: hidden;
  transition: 0.2s;
  font-weight: 300;
}
.btnLogin:hover {
  border-radius: 5px;
  background: #e54ebc;
  box-shadow: 0 0 10px #e54ebc, 0 0 30px #e54ebc, 0 0 60px #e54ebc;
  transition-delay: 1s;
}
.btnLogin span {
  position: absolute;
  display: block;
}
#passRecover {
  padding-left: 92px;
  color: #a1a1a1;
  font-size: 9pt;
}

#span1 {
  top: 0px;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #fd99e3);
}
.btnLogin:hover #span1 {
  left: 100%;
  transition: 1s;
}
#span3 {
  bottom: 0px;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #fd99e3);
}
.btnLogin:hover #span3 {
  right: 100%;
  transition: 1s;
  transition-delay: 0.5s;
}
#span2 {
  top: -100px;
  right: 0%;
  width: 2px;
  height: 100px;
  background: linear-gradient(180deg, transparent, #fd99e3);
}
.btnLogin:hover #span2 {
  top: 100%;
  transition: 1s;
  transition-delay: 0.25s;
}
#span4 {
  bottom: -100px;
  left: 0%;
  width: 2px;
  height: 100px;
  background: linear-gradient(360deg, transparent, #fd99e3);
}
.btnLogin:hover #span4 {
  bottom: 100%;
  transition: 1s;
  transition-delay: 0.75s;
}
.bodyUserGoogle,
.bodyUserRegistrar,
.bodyUserLogin,
.registeredUser, .bodyUserWithAcount{
  background-color: #0b081b;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10vh;
}
a#btnLogin.btnLogin {
  margin-top: 0.4rem;
}
/* .bodyUserLogin{

} */
/* .bodyUserRegistrar a,
.bodyUserLogin a {

} */
/* .BtnReturn {

  background-color: #0b081b;
  display: flex;
  align-items: center;
  justify-content: center;
} */
a{
  justify-content: center;
  align-items: center;
} 

.bodyUser a {
  color: #fff;
  text-decoration: none;
  font-size: 14px;
}

#bodyUserRegistrar {
  color: white;
  text-decoration: none;
  font-size: 14px;
}

#registeredUser{
  margin-top: 7rem;
  color: white;
  text-decoration: none;
  font-size: 14px;
}

#register {
  padding-left: 5px;
  color: #e54ebc;
  text-decoration: none;
  font-size: 14px;
}
.footer {
  background-color: #0b081b;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Rubik", Arial, Helvetica, sans-serif;
  font-size: 10px;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.reg-footer {
  background-color: #0b081b;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Rubik", Arial, Helvetica, sans-serif;
  font-size: 10px;
  margin-top: 7rem;
  margin-bottom: 1rem;
}
.userlogin {
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}

.container {
  height: 100vh;
}

.bodyNotFound {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 75vh;
  color: #fff;
}

#logoGoogle{
  width: 150px;
  border-color: white;
}

.bodyForgetPassword {
  display: flex;
    align-items: center;
    justify-content: center;
    height: 45vh;
    margin-left: 10em;
    margin-right: 10em;
    margin-top: 3em;
    font-weight: 300;

  }

  .textForgetPassword,
  .textForgetPass {
      color: #FFFFFF;
      height: 15vh;
      font-size: 10pt;
      line-height: 1.5rem;
  }


/*Desktop*/
@media (min-width: 1090px) {

  .bodyStyle{
    background: rgb(70,30,65);
    background: linear-gradient(0deg, rgba(70,30,65,1) 0%, rgba(101,29,149,1) 100%);
  }

  .bodyBox {
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70vh;
    margin: 70px;
    padding: 20px;
    flex-direction: row;
    -webkit-box-shadow: 9px 9px 18px -6px rgba(0,0,0,0.75);
    -moz-box-shadow: 9px 9px 18px -6px rgba(0,0,0,0.75);
    box-shadow: 9px 9px 18px -6px rgba(0,0,0,0.75);
    background-color: #0b081b;
  }

  #logoPrincipal {
    display: flex;
    width: 350px;
    background-color: #0b081b;
    order: 2;
    padding: 20px;
  }

  .bodyUserRegistrar {
    align-self: flex-start;
    margin-left: -300px;
    margin-top: -20px;
    margin-right: -230px;
    order: 1;
  }
  .bodyUserWithAcount{
    align-self: flex-start;
    margin-left: -300px;
    margin-top: -20px;
    order: 1;
  }

  #registeredUser {
    margin-left: -370px;
    margin-top: -400px;
    margin-right: 0px;
    order: 1;
  }

  .userlogin {
    padding-left: 0px;
    order: 2;
    margin-bottom: 3rem;
  }
  .bodyUserGoogle{
    display: flex;
    align-self: flex-end;
    margin-left: 0px;
    order: 3;
    align-content: center;
  }

  .bodyForgetPassword {
    display: flex;
      align-items: center;
      justify-content: center;
      height: 45vh;
      margin-left: 10em;
      margin-right: 10em;
      font-weight: 300;
      margin-bottom: 3em;

    }

    .textForgetPassword,
    .textForgetPass {
        color: #FFFFFF;
        height: 12vh;
        font-size: 10pt;
        line-height: 1.5rem;
    }

  #logoGoogle{
    width: 150px;
    border-color: white;
    margin-top: -20px;
  }

  .simpleBtn {
    outline: none;
    width: 90px;
    height: 40px;
    background: #71D6D4;
    border-style: solid;
    border-width: 0px 0px 5px 0px;
    border-color: #37BEBB;
    border-radius: 4px;
    color: #2E9E9C;
    cursor: pointer;
    font-family: "Rubik", Arial, Helvetica, sans-serif;
    font-size: 1em;
    font-weight: 500;
    transition: .1s;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    }

    .simpleBtn:active {
      border-width: 0px 0px 2px 0px;
      transform: translateY(4px);
      opacity: 0.9;
  }

  /*.bodyForgetPassword {
    display: flex;
      align-items: center;
      justify-content: center;
      height: 45vh;
      margin-left: 10em;
      margin-right: 10em;
      font-weight: 300;
      margin-bottom: 3em;

    }*/

    /*.textForgetPassword,
    .textForgetPass {
        color: #FFFFFF;
        height: 12vh;
        font-size: 10pt;
        line-height: 1.5rem;
    }*/

  /*#logoGoogle{
    width: 150px;
    border-color: white;
    margin-top: -20px;
  }*/

  /*.simpleBtn {
    outline: none;
    width: 90px;
    height: 40px;
    background: #71D6D4;
    border-style: solid;
    border-width: 0px 0px 5px 0px;
    border-color: #37BEBB;
    border-radius: 4px;
    color: #2E9E9C;
    cursor: pointer;
    font-family: "Rubik";
    font-size: 1em;
    font-weight: 500;
    transition: .1s;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    }

    .simpleBtn:active {
      border-width: 0px 0px 2px 0px;
      transform: translateY(4px);
      opacity: 0.9;
  }*/

  .footer {
    position: fixed;
    background-color: none;
    margin-left: -150px;
    margin-top: 53px;
    order: 2;
  }
  .reg-footer{
    position: fixed;
    margin-left: -150px;
    margin-top: 110px;
    order: 2;
  }

  /*#logoGoogle{
    width: 150px;
    border-color: white;
    margin-top: -20px;
  }*/
}

/*Boton Google*/
.buttonGoogle {
	background:#fff;
	box-shadow:0px 2px 0px #266792;
	color:#000;
	display:flex;
	font-size:.7em;
	margin:0px 10px;
	padding:5px 0;
  width:200px;
	text-decoration:none;
  border-radius:20px;
  font-family: "Rubik",Arial, Helvetica, sans-serif;
}



img{
    padding-right: .3em;
    width: 20px;
    height: auto;
    }


/*Efectos, Hover*/
.buttonGoogle:hover {
	box-shadow:0px 1px 0px #266792;
	padding-top:7px;
}

/*Google*/
.G1, .o1, .o2, .g2, .l1, .e1{
 font-weight: 500;
 font-size: 1.4em;
 letter-spacing: 2px;
}
.G1{
color: #4285f4;
padding-left: .5em;
}
.o1{
color: #ea4335;
}
.o2{
color: #fbbc05;
}
.g2{
color: #4285f4;
}
.l1{
color: #34a853;
}
.e1{
color: #ea4335;
}