@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;1,400;1,500&display=swap");
@-ms-viewport {
  width: device-width;
}
html,
body {
  overflow: visible;
  font-family: "Rubik", Arial, Helvetica, sans-serif;
  background-color:none;
}
.column {
  display: block;
  height: 75vw;
}
/*Phone */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: 0px;
}
.nav-flex {
  background-color: #201b39;
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  align-items: center;
  justify-content: center;
  height: 11vh;
}
#searchinput, .navigation {
  display: none;
}
#logo-oldbeat {
  width: 200px;
  padding-top: 30px;
}
.bodyprofile {
  position: static;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  overflow: visible;
  height: 78vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
}
.userinfo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
}
.profilepic {
  margin-top: 0.7rem;
  width: 150px;
  height: 150px;
  position: fixed;
  overflow: hidden;
  border-radius: 50%;
}
#profilepicuser {
  margin: 0 auto;
  height: 100%;
  width: auto;
}
.textoprofile {
  margin-top: 11rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 55vw;
  color:#0b081b;
  font-size: 0.9em;
  font-weight: 300;
  line-height: 1.5rem;
}
.nickname, .fullname {
  font-weight: 400;
  font-size: 1.3em;
  color: #e54ebc;
}
.iconoubicacion {
  width: 1.2em;
  height: 1.2em;
  stroke-width: 0;
  stroke: rgb(236, 69, 69);
  fill: rgb(236, 69, 69);
}
.posthistory {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: flex-start;
  width: 100%;
  height: 0;
  background-color: #fff;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  overflow-y: scroll;
  /* border-radius: 80px 80px 0px 0px; */
}
#minipost { 
  width: 400px; 
   margin-right: 50px;
}
.myposts {
  width: 100vw;
  font-size: 2.5em;
  font-weight: 400;
  color: gray;
  margin: 1.5em 0 0 1.5em;
}
.control {
  position: fixed;
  width: 100vw;
  overflow: visible;
  float: none;
  clear: none;
  background-color: #201b39;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 12vh;
}

.bodyNotFound {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 75vh;
  color: #fff;
}

/* iconografía */
.icon {
  display: inline-block;
  width: 2.2em;
  height: 2.2em;
  stroke-width: 0;
  stroke: #e54ebc;
  fill: #e54ebc;
}

.icon-calendar, .icon-user, .icon-plus,
.icon-search{
  width: 1.7rem;
}

/*Desktop*/
@media (min-width: 1090px) {

  .nav-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(101, 29, 149);
    background: linear-gradient(90deg,
      rgba(101, 29, 149, 1) 0%,
      rgba(70, 30, 65, 1) 100%);
  }
  .navigation {
    display: flex;
    list-style: none;
    padding-right: 3em;
    padding-left: 1em;
  }
  .imgPerfil{
    border-radius: 20px;
    width: 40px;
    height: 40px;
  }

  .logo,
  .navigation a {
    text-decoration: none;

  }
  .navigation a {
    display: block;
    padding: 1em;
    color: white;
    margin-left: 10px;
  }
 /*  #searchinput, .navigation {
    
  } */
  .body-container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
    background-color: #0b081b;
    height: 100vh;
  }
  #logo-oldbeat {
    display: flex;
    width: 210px;
    margin-bottom: 1rem;
    /* padding: 20px; */
  }
.bodyprofile {
  order: 3;
  margin-left: 235px;
  margin-top: 0.7em;
}
  .userinfo {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    width: 250px;
    height: 400px;
    background-color: #fff;
    border-radius: 5px;
    padding-bottom: 3rem;
  }
  .textoprofile {
    margin-top: 11rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 55vw;
    color: #0b081b;
    font-size: 0.9em;
    font-weight: 300;
    line-height: 1.5rem;
  }
  .iconoubicacion {
    width: 1.2em;
    height: 1.2em;
    stroke-width: 0;
    stroke: #e54ebc;
    fill: #e54ebc;
  }
  .posthistory {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: flex-start;
    width: 45rem;
    height: 100%;
    background: whitesmoke;
    margin-top: 0.7em;
    margin-left: 15px;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    overflow-y: scroll;
    order: 4;
    border-radius: 5px;
  }

  .myposts {
    font-size: 1.8em;
  }

  .control {
    order: -1;
    background-color: #0b081b;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 220px;
    height: 100vh;
    margin: 1.2rem 0 0 1rem;
  }

  .icon {
    display: inline-block;
    width: 1.7em;
    height: 1.7em;
    stroke-width: 0;
    stroke: #c3c5d5;
    fill: #c3c5d5;
  }
  .icon-calendar,
  .icon-user {
    width: 1.2em;
  }
  .icon-plus,
  .icon-search {
    display: none;
  }
}
